{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'signup-form-17/css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Sign Up</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
		      	<div class="img" style="background-image: url({% static 'signup-form-17/images/bg.jpg' %});"></div>
		      	<h3 class="text-center mb-4">Create Your Account</h3>
              <p class="text-muted">
              {% if msg %}
                {{ msg | safe }}
              {% else %}              
                Create your account
              {% endif %}  
            </p>
						<form role="form" method="post" action="" class="signup-form">
            {% csrf_token %}
							<div class="form-group mb-3">
								<label class="label" for="bidang">Bidang</label>
								{{ form.bidang }}
							</div>
							<span class="text-error">{{ form.bidang.errors }}</span>						
		      		<div class="form-group mb-3">
		      			<label class="label" for="username">Username</label>
                {{ form.username }}
		      		</div>
              <span class="text-error">{{ form.username.errors }}</span>
							<div class="form-group mb-3">
		      			<label class="label" for="name">Name</label>
                {{ form.name }}
		      		</div>
              <span class="text-error">{{ form.name.errors }}</span>
		      		{% comment %} <div class="form-group mb-3">
		      			<label class="label" for="email">Email Address</label>
                {{ form.email }}
		      		</div>
              <span class="text-error">{{ form.email.errors }}</span> {% endcomment %}
	            <div class="form-group mb-3">
	            	<label class="label" for="password1">Password</label>
                {{ form.password1 }}
	              <span toggle="#id_password1" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
              <span class="text-error">{{ form.password1.errors }}</span>
              <div class="form-group mb-3">
	            	<label class="label" for="password2">Repeat Password</label>
                {{ form.password2 }}
	              <span toggle="#id_password2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
              <span class="text-error">{{ form.password2.errors }}</span>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
	            </div>
	          </form>
	          <p>I'm already a member! <a href={% url 'login' %}>Sign In</a></p>
	        </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'signup-form-17/js/jquery.min.js' %}"></script>
  <script src="{% static 'signup-form-17/js/popper.js' %}"></script>
  <script src="{% static 'signup-form-17/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'signup-form-17/js/main.js' %}"></script>

	</body>
</html>
