{% extends 'base.html' %}

{% block content %}
<br>
<div class="row">
   <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
      <div class="row m-0">
      <div class="col">
        <h5 class="card-title">Entry List</h5>
        <h6 class="card-subtitle mb-2 text-muted">Daftar Entry</h6>
      </div>
        <div class="col" align="right">
                  <a href="{% url 'entry:entry_tambah' %}" class="btn btn-primary btn-sm" role="button">Tambah</a>
                </div>
      </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Judul</th>
              <th scope="col">Tanggal Eksekusi</th>
              <th scope="col">Nama</th>
              <th scope="col">Bidang</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
          {% for data in entry_list %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{data.judul}}</td>
              <td>{{data.tgl_eksekusi|date:"d M Y"}}</td>
              <td>{{data.user}}</td>
              <td>{{data.user.profile.bidang}}</td>
              <td><i class="fas fa-edit"> Edit | <i class="fas fa-trash-alt"></i> Delete</i></td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}